<floating-menu
        class="flex justify-center select-none items-center px-2 py-1 space-x-4 bg-black text-white rounded-xl shadow-2xl flex-shrink-0 w-96"
        :editor="editor"
        v-if="editor"
      >
        <!-- //!set paragraph -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .setParagraph()
              .run()
          "
          :class="{ 'is-active': editor.isActive('normal') }"
        >
          paragraph
        </button>
        <!-- //!set h1 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 1 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }"
        >
          h1
        </button>
        <!-- //!set h2 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 2 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
        >
          h2
        </button>
        <!-- //!set h3 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 3 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
        >
          h3
        </button>
        <!-- //!set h4 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 4 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }"
        >
          h4
        </button>
        <!-- //!set h5 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 5 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 5 }) }"
        >
          h5
        </button>
        <!-- //!set h6 -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleHeading({ level: 6 })
              .run()
          "
          :class="{ 'is-active': editor.isActive('heading', { level: 6 }) }"
        >
          h6
        </button>
        <!-- //!set bullet points -->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleBulletList()
              .run()
          "
          :class="{ 'is-active': editor.isActive('bulletList') }"
        >
          bullet
        </button>
        <!-- //!set ordered list-->
        <button
          @click="
            editor
              .chain()
              .focus()
              .toggleOrderedList()
              .run()
          "
          :class="{ 'is-active': editor.isActive('orderedList') }"
        >
          list
        </button>
      </floating-menu>